.card__like {
    background-image: url('../../../images/like.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 19px;
    margin: 0 20px;
    transition: opacity .2s ease, background-image .2s ease-in-out;
    width: 22px;
}

.card__like:hover {
    opacity: .5;
}